<!-- cdkDrop使用 -->
<app-drag-drop-drop></app-drag-drop-drop>
<!-- cdkDropList使用 -->
<app-drag-drop-drop-list></app-drag-drop-drop-list>
<!-- 两个list间交换list -->
<app-drag-drop-transferring-item></app-drag-drop-transferring-item>
<!-- cdkDragHandle -->
<app-drag-drop-handle-drag-area></app-drag-drop-handle-drag-area>
<!-- customizing drag preview -->
<app-drag-drop-customizing-drag-preview></app-drag-drop-customizing-drag-preview>
<!-- customizing drag place holder -->
<app-drag-drop-customizing-drag-place-holder></app-drag-drop-customizing-drag-place-holder>
<!-- 水平方向的drag -->
<app-drag-drop-orientation-drag></app-drag-drop-orientation-drag>
<!-- 限制移动的区域 -->
<app-drag-drop-restricting-move-area></app-drag-drop-restricting-move-area>
<!-- drag dialog -->
<app-drag-drop-drag-dialog></app-drag-drop-drag-dialog>
<!-- controlling with item -->
<app-drag-drop-controlling-with-item></app-drag-drop-controlling-with-item>
<!-- disable drag -->
<app-drag-drop-disable-drag></app-drag-drop-disable-drag>