<h3>@angular/cdk 内容学习</h3>
<nav>
    <a routerLink="/coercion" routerLinkActive="active">cdk-coercion</a>
    <a routerLink="/layout" routerLinkActive="active">cdk-layout</a>
    <a routerLink="/keycodes" routerLinkActive="active">cdk-keycodes</a>
    <a routerLink="/accessibility" routerLinkActive="active">cdk-accessibility</a>
    <a routerLink="/bidi" routerLinkActive="active">cdk-bidi</a>
    <a routerLink="/scrolling" routerLinkActive="active">cdk-scrolling</a>
    <a routerLink="/portal" routerLinkActive="active">cdk-portal</a>
    <a routerLink="/overlay" routerLinkActive="active">cdk-overlay</a>
    <a routerLink="/platform" routerLinkActive="active">cdk-platform</a>
    <a routerLink="/observers" routerLinkActive="active">cdk-observers</a>
    <a routerLink="/dragDrop" routerLinkActive="active">cdk-drag-drop</a>
    <a routerLink="/textField" routerLinkActive="active">text field</a>
    <br>
    <a routerLink="/stepper" routerLinkActive="active">cdk stepper</a>
    <a routerLink="/table" routerLinkActive="active">cdk table</a>
    <a routerLink="/tip" routerLinkActive="active">tip directive</a>
</nav>
<router-outlet></router-outlet>

